# ignore the qwen model files, which are too large to be tracked by git
/Qwen/

# ignore the tamp files
/._____temp/
/.lock/

#ignore the output files
/output/

#ignore the test files
/test/

# ignore Python cache directories at any depth
__pycache__/
/__pycache__/